*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--font1);

}
:root{
    --font1:'Yanone Kaffeesatz', sans-serif;;
    --font2:'Oswald', sans-serif; 
    --color1:#0E28A2;
    --color2:#444;
    --color3:#f8f6f6;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
.mybtn{
    font-size: 30px;
    font-family: var(--font2);
    color: var(--color1);
    
    outline: none;
    padding:7px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    border: 1px solid var(--color1);
    background-color: none;
}
.mybtn:hover{
    transition: all 1s ease;
    background-color: var(--color1);
    color: var(--color3);
    border: 1px solid var(--color3);
}

.navigation{
    width: 100%;
    height: 80px;
    
    display: flex;
    border-bottom: 1px solid #efefef;
    background-color: #ffff;
}
.rel-burger{
    z-index: 1;
    position: sticky;
    top: 0;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    text-decoration: none;
    font-size: 40px;
    font-family: var(--font2);
    color: var(--color2);
    font-weight: 600;
    
}
.logo a:hover{
    color: var(--color1);
    transition: all 1s ease;
    opacity: 0.5;
    
}
.menu-item{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu-item ul{
    width: 100%;
    list-style: none;
    margin: 15px 0 0 0 ;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.menu-item ul li a{
    font-size: 22px;
    cursor: pointer;
    font-family: var(--font1);
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--color2);
    text-decoration: none;
}
.menu-item ul li a:hover{
    transition: all 1s ease;
    color: var(--color1);
    text-decoration: underline;
}


/* ====================== main body start  section 1======================== */

.homepage1{
    width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    
}
.homepage1-heading{
    width: 80%;
    margin: auto;
    
}
.homepage1-heading h1{
    font-size: 54px;
    font-family: var(--font1);
    font-weight: 600;
    letter-spacing: 1.25px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
    margin: 0;
    padding-top: 100px;
}

.homepage1-image{
    width: 80%;
    margin: auto;
    text-align: right;
}
.homepage1-image img{
    height: 100px;
    width: auto;
}
/* ====================== main body start section 2 ======================== */

.homepage2{
    width: 80%;
    margin: 25px auto;
    /* height: auto; */
    display: flex;
}
.homepage2-reverse{
    width: 80%;
    margin: 25px auto;
    /* height: auto; */
    display: flex;
    flex-direction: row-reverse;
    
}
.reverse-full{
    width: 100%;
    background-color: var(--color3);
}
.homepage2-image{
    width: 40%; 
    height: 400px;
    margin: auto;
    border: 1px solid #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage2-image img{
    width: 300px;
    height: 300px; 
}
.homepage2-text{
    width: 50%;
    height: 450px;
    margin: auto;
    display: flex;
    align-items: center;
}
.reverse{
    flex-direction: column;
    align-items: flex-start;
    
}
.homepage2-text p{
    font-size: 45px;
    font-family: var(--font1);
    line-height: 1.25;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    color: var(--color2);
    font-weight: 600;
    padding-top: 50px;
}
.homepage2-text span{
    color: var(--color1);
}
/* ===============carousal ================================= */
.car{
    padding:0 0;
    margin: 30px 0;
}
.carousel-item img{
    height: 300px;
    background-size: cover;
}

/* ===================================== banner messsage ========================= */

.banner-message{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color1);
    margin-bottom: 50px;
}
.banner-message-text{
    width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-message-text p{
    font-size: 45px;
    font-family: var(--font1);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1.5px;
    color: var(--color3);
    margin: 0;
    text-align: center;
}
.banner-message-btn{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.banner-message-btn a{
    background-color: var(--color1);
    color: var(--color3);
    border: 1px solid var(--color3);
}
.banner-message-btn a:hover{
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid var(--color3);
}
.burger{
    display: none;
}
.line{
    
    padding: 2px 15px ;
    margin: 5px 0;
    background-color: var(--color2);
    
}
.card-list{
    width: 80%;
    margin: 20px auto;
}
.card{
    margin: 20px 0;
}
.card-title{
    font-family: var(--font1);
    padding: 10px 0;
    font-size: 35px;
}
.card-text{
    font-size: 25px;

}
.card-body a{
    font-size: 25px;
}
.hr{
    border-bottom: 1.5px solid #e7e6e6;
}
.contactus{
    width: 80%;
    margin: 10px auto;
    
}
.contactus h2{
    padding-top: 40px;
    color: var(--color1);
}
.contact-us{
    display: flex;
    flex-direction: column;
}
.form-item{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:  10px auto;
}
.form-item label{
    font-size: 28px;
    font-family: var(--font1);
}
.form-item input{
    
    font-size: 25px;
    padding: 5px 5px;
    border: 1.25px solid var(--color1);
    border-radius: 5px;
    outline: none;
    
}
.form-item textarea{
    
    font-size: 25px;
    padding: 5px 5px;
    border: 1.25px solid var(--color1);
    border-radius: 5px;
    outline: none;

}
.form-item div button{
    background-color: none;;
}
.aboutus{
    width: 100%;
    display: flex;
}
.about-img{
    width: 50%;
    height: 700px;
}
.about-img img{
    height: 700px;
    width: 100%;
    background-size: cover;
}
.about-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 160px 10px 0 10px;
    align-items: left;
}
.about-text h1{
    font-size: 55px;
    /* font-family: var(--font2) */;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.about-text p{
    font-size: 21px;
    /* font-family: var(--font2) */;
    font-weight: 550;
    letter-spacing: 1.5px;
    word-wrap: break-word;
    
}
.yt-vid{
    width: 100%;
    height: 500px;
    margin: 50px 0 20px 0;
}







@media only screen and (max-width: 1000px) {
    .rel-burger{
        position: relative;
    }
    .burger{
        display: block;
        position: absolute;
        top: 27px;
        right: 45px;
        z-index: 1;
        cursor: pointer;
    }
    .logo{
        width: 80%;
        margin: auto;
        justify-content: flex-start;
    }
    .hide{
        display:none;
    }
    .h-nav{
        height: 245px;
        border: none;
    }
    .navigation{
        flex-direction: column;
        transition: all 0.7s ease-in-out;
        
    }
    .menu-item{
        width: 80%;
        margin: auto;
        
    }
    .menu-item ul{
        flex-direction: column;
        
    }
    .menu-item ul li{
        padding: 5px 0;
        border-bottom: 1px dotted var(--color1);
        
    }
    .homepage1-heading h1{
        font-size: 36px;
    }

    .homepage2{
        flex-direction: column;
        width: 80%;
    }
    .homepage2-image{
        width: 80%;
    }
    .homepage2-text{
        width: 100%;
    }
    .homepage2-text p{
        font-size: 35px;
        font-weight: 600;
    }
    .banner-message{
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }
    .banner-message-text{
        width: 80%;
    }
    .banner-message-btn{
        width: 80%;
    }

    .homepage2-reverse{
        flex-direction: column;

    }
    .homepage2-image{
        width: 100%;
        margin-bottom: 50px;
    }
    .homepage2-image img{
        width: 95%;
    }
    .aboutus{
        flex-direction: column;
        width: 100%;
    }
    .about-img{
        width: 95%;
        margin: auto;
        height: 450px;
    }
    .about-img img{
        width: 100%;
        height: 450px;
    }
    .about-text{
        width: 80%;
        margin: auto;
        padding-top: 50px;
    }
    .form-item{
        width: 100%;
    }

    

}



















